@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    
    --card: var(--background);
    --card-text: var(--foreground);
    
    --popover: var(--background);
    --popover-text: var(--foreground);
    
    --primary: 222.2 47.1% 11.2%;
    --primary-text: 210 40% 98%;
    
    --secondary: 210 40% 96.1%;
    --secondary-text: var(--primary);
    
    --muted: var(--secondary);
    --muted-text: 215.4 16.3% 46.9%;
    
    --accent: var(--secondary);
    --accent-text: var(--primary);
    
    --destructive: 0 84.2% 60.2%;
    --destructive-text: var(--primary-text);
    
    --border: 214.3 31.8% 91.4%;
    --input: var(--border);
    
    --ring: var(--foreground);
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    
    --card: var(--background);
    --card-text: var(--foreground);
    
    --popover: var(--background);
    --popover-text: var(--foreground);
    
    --primary: var(--foreground);
    --primary-text: var(--primary);
    
    --secondary: 217.2 32.6% 17.5%;
    --secondary-text: var(--foreground);
    
    --muted: var(--secondary);
    --muted-text: 215 20.2% 65.1%;
    
    --accent: var(--secondary);
    --accent-text: var(--foreground);
    
    --destructive: 0 62.8% 30.6%;
    --destructive-text: var(--foreground);
    
    --border: var(--secondary);
    --input: var(--secondary);
    
    --ring: 212.7 26.8% 83.9%;
  }
}
